ion-searchbar {
  width: 50%;
}
#violationTable {
  border: 1px solid var(--ion-color-dark);
  max-height: 100%;
  height: 100%;
  padding: 0;
}
#violationTable div {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}
