<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Violations</ion-title>
    <ion-searchbar
      placeholder="Search"
      showCancelButton="focus"
      animated="true"
      slot="secondary"
      color="light"
      (keyup.enter)="searchTable($event.target.value)"
      (ionCancel)="resetTable()"
      (ionClear)="resetTable()"
      (ionBlur)="resetTable($event.target.value)"
      [disabled]="isSearching"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar id="table_button_container">
    <ion-buttons slot="start">
      <ion-title slot="start" size="small">Export: </ion-title>
      <ion-button
        [disabled]="isSearching"
        (click)="exportAs(1)"
        fill="solid"
        size="small"
        color="primary"
      >
        CSV
      </ion-button>
      <ion-button
        [disabled]="isSearching"
        (click)="exportAs(2)"
        fill="solid"
        size="small"
        color="success"
      >
        Excel
      </ion-button>
      <ion-button
        [disabled]="isSearching"
        (click)="exportAs(3)"
        fill="solid"
        size="small"
        color="danger"
      >
        PDF
      </ion-button>
      <ion-button
        [disabled]="isSearching"
        (click)="promptColVisMenu($event)"
        fill="outline"
        size="small"
        color="primary"
      >
        Hide/Show Column
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="showSideMenu('side-menu3')" title="Table Settings">
        <ion-icon slot="end" name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="false" class="ion-padding">
  <ion-menu
    side="end"
    content-id="violationTable"
    type="overlay"
    menuId="side-menu3"
  >
    <ion-header>
      <ion-toolbar translucent color="tertiary">
        <ion-title>Hide/Show Columns</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list class="ion-padding-end" color="light"> </ion-list>
    </ion-content>
  </ion-menu>
  <ion-content id="violationTable" scrollX="true" #tableContent>
    <div
      style="width: 100%; height: 100%; display: flex; flex-direction: column"
      class="ion-align-items-center ion-justify-content-center"
      *ngIf="!isViolationsLoaded"
    >
      <ion-spinner
        name="bubbles"
        color="primary"
        class="ion-align-self-center"
      ></ion-spinner>
      <span class="ion-padding-top">Please wait...</span>
    </div>
    <table
      *ngIf="isViolationsLoaded"
      datatable
      [dtOptions]="dtOptions"
      class="table table-hover table-striped table-bordered"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>CODE</th>
          <th>VIOLATION</th>
          <th>TYPE</th>
          <th>VEHICLE_TYPE</th>
          <th>PENALTIES</th>
          <th>ACTIVE</th>
        </tr>
      </thead>
      <tbody (contextmenu)="showRowContextMenu($event)">
        <tr *ngFor="let row of rows">
          <td *ngFor="let item of row">{{ item }}</td>
        </tr>
      </tbody>
    </table>
    <ion-infinite-scroll
      threshold="2%"
      (ionInfinite)="loadData($event)"
      *ngIf="isViolationsLoaded"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading more data..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-content>
