<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Ticket Input Fields</ion-title>
    <ion-searchbar
      placeholder="Search"
      showCancelButton="focus"
      animated="true"
      slot="secondary"
      color="light"
      (keyup.enter)="searchTable($event.target.value)"
      (ionCancel)="resetTable()"
      (ionClear)="resetTable()"
      (ionBlur)="resetTable($event.target.value)"
      [disabled]="isSearching"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-header>
  <ion-toolbar id="table_button_container">
    <ion-buttons slot="start">
      <ion-title slot="start" size="small">Export: </ion-title>
      <ion-button
        [disabled]="isSearching"
        (click)="exportAs(1)"
        fill="solid"
        size="small"
        color="primary"
      >
        CSV
      </ion-button>
      <ion-button
        [disabled]="isSearching"
        (click)="exportAs(2)"
        fill="solid"
        size="small"
        color="success"
      >
        Excel
      </ion-button>
      <ion-button
        [disabled]="isSearching"
        (click)="exportAs(3)"
        fill="solid"
        size="small"
        color="danger"
      >
        PDF
      </ion-button>
      <ion-button
        [disabled]="isSearching"
        (click)="promptColVisMenu($event)"
        fill="outline"
        size="small"
        color="primary"
      >
        Hide/Show Column
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="showTicketInputFormModal()"
        fill="solid"
        size="small"
        color="primary"
        [disabled]="isSearching"
        ><ion-icon name="create-outline" slot="start"></ion-icon>NEW INPUT FIELD
      </ion-button>
      <ion-button (click)="reloadPage()" title="Refresh">
        <ion-icon slot="end" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="false" class="ion-padding">
  <ion-content id="ticketInputTable" scrollX="true" #tableContent>
    <div
      style="width: 100%; height: 100%; display: flex; flex-direction: column"
      class="ion-align-items-center ion-justify-content-center"
      *ngIf="!isExtraInputsLoaded"
    >
      <ion-spinner
        name="bubbles"
        color="primary"
        class="ion-align-self-center"
      ></ion-spinner>
      <span class="ion-padding-top">Please wait...</span>
    </div>
    <table
      *ngIf="isExtraInputsLoaded"
      datatable
      [dtOptions]="dtOptions"
      class="table table-hover table-striped table-bordered"
      style="width: 100%"
    >
      <thead>
        <tr>
          <th>ID</th>
          <th>TEXT/LABEL</th>
          <th>DATA TYPE</th>
          <th>REQUIRED</th>
          <th>SUBSECTION</th>
          <th>ORDER/PRIORITY</th>
          <th>ACTIVE</th>
        </tr>
      </thead>
      <tbody (contextmenu)="showRowContextMenu($event)">
        <tr *ngFor="let row of rows">
          <td *ngFor="let item of row">{{ item }}</td>
        </tr>
      </tbody>
    </table>
  </ion-content>
</ion-content>
