<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()"
        ><ion-icon name="close"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="new_violation || update_violation">
  <form [formGroup]="violationFormGroup" (ngSubmit)="startViolationAction()">
    <ion-list>
      <ion-list-header color="light">
        <ion-label color="primary">DESCRIPTION</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label color="primary">Violation Code</ion-label>
        <ion-input
          formControlName="violation_code"
          placeholder="Enter code for violation"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary">Violation</ion-label>
        <ion-input
          formControlName="violation"
          placeholder="Enter the violation name or description"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
        <ion-label color="primary">TYPES AND PENALTIES</ion-label>
      </ion-list-header>
      <ion-radio-group formControlName="type">
        <ion-item lines="full">
          <ion-label color="primary">Offense Type</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>MINOR</ion-label>
          <ion-radio slot="start" value="Minor"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>MAJOR</ion-label>
          <ion-radio slot="start" value="Major"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-radio-group
        formControlName="vehicle_type"
        [disabled]="
          update_violation &&
          (searched_violation.violation_types_count == 2 ||
            searched_violation.tickets_count)
        "
      >
        <ion-item lines="full">
          <ion-label color="primary">Vehicle Type</ion-label>
        </ion-item>

        <ion-item
          [disabled]="
            update_violation &&
            (searched_violation.violation_types_count == 2 ||
              searched_violation.tickets_count)
          "
        >
          <ion-label>2-3-Wheel</ion-label>
          <ion-radio slot="start" value="2-3-wheel"></ion-radio>
        </ion-item>

        <ion-item
          [disabled]="
            update_violation &&
            (searched_violation.violation_types_count == 2 ||
              searched_violation.tickets_count)
          "
        >
          <ion-label>4-Wheel</ion-label>
          <ion-radio slot="start" value="4-wheel"></ion-radio>
        </ion-item>
      </ion-radio-group>
      <ion-item>
        <ion-label color="primary">Penalties</ion-label>
        <ion-input
          formControlName="penalties"
          placeholder='Enter penalties for offenses separated by comma ","'
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-button
      *ngIf="new_violation"
      type="submit"
      expand="block"
      fill="solid"
      class="ion-margin"
      [disabled]="!violationFormGroup.valid"
    >
      Create
    </ion-button>
    <ion-button
      *ngIf="update_violation"
      type="submit"
      expand="block"
      fill="solid"
      class="ion-margin"
      [disabled]="violationFormGroup.pristine || !violationFormGroup.valid"
    >
      Update
    </ion-button>
  </form>
</ion-content>
