ion-searchbar {
  width: 50%;
}
#ticketTable {
  border: 1px solid var(--ion-color-dark);
  max-height: 100%;
  height: 100%;
  padding: 0;
}
#ticketTable div {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
}

ion-label,
ion-item > ion-label {
  color: var(--ion-color-primary);
}

ion-item {
  --highlight-color-valid: var(--ion-color-primary);
}
