<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Summary Report </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content slot="fixed">
  <ion-grid>
    <ion-row class="ion-no-margin ion-no-padding">
      <ion-col size="12" size-lg="8" class="h50">
        <div
          class="wrapper ion-padding ion-justify-content-center ion-align-items-center"
          *ngIf="isTicketCountLoaded"
        >
          <canvas
            *ngIf="this.chartData.datasets[0].data.length"
            baseChart
            [data]="chartData"
            [options]="chartOptions"
            [type]="chartType"
          ></canvas>

          <div
            class="ion-justify-content-center ion-align-items-center"
            style="height: 100%; width: 100%"
            *ngIf="!this.chartData.datasets[0].data.length"
          >
            <h3 class="ion-text-center">NO AVAILABLE DATA</h3>
            <ion-icon
              color="medium"
              name="bar-chart-outline"
              style="height: 70%; width: 100%"
            ></ion-icon>
          </div>
        </div>
        <div class="wrapper ion-padding" *ngIf="!isTicketCountLoaded">
          <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        </div>
      </ion-col>

      <ion-col size="12" size-lg="4" class="lg-h100">
        <div class="wrapper ion-padding custom-card">
          <h5 class="ion-no-margin ion-margin-bottom">Data Distribution</h5>

          <ion-list
            class="ion-justify-content-center ion-padding-end"
            *ngIf="chart_statistics.violations"
          >
            <ion-list-header color="medium">
              <ion-label><b>Tickets</b></ion-label>
            </ion-list-header>
            <ion-item>
              <ion-label><b>Total: </b></ion-label>
              <span slot="end"
                ><b>{{ chart_statistics.total_tickets }}</b></span
              >
            </ion-item>
            <ion-list-header color="medium">
              <ion-label><b>Violations</b></ion-label>
            </ion-list-header>
            <ion-item *ngFor="let count of chart_statistics.violations ">
              <ion-label>{{ count.violation }}</ion-label
              ><span slot="end">{{ count.total_tickets}}</span>
            </ion-item>
            <ion-item>
              <ion-label><b>Total: </b> </ion-label
              ><span slot="end"
                ><b>{{ chart_statistics.total_violations }}</b></span
              >
            </ion-item>
            <ion-list-header color="medium">
              <ion-label><b>Offenses to Violators</b></ion-label>
            </ion-list-header>
            <ion-item
              *ngFor="let item of chart_statistics.offenses_and_violators"
            >
              <ion-label>Offense #{{ item.offense_number }}</ion-label>
              <span slot="end">{{ item.total_violator }} Violator/s</span>
            </ion-item>
          </ion-list>
          <div
            *ngIf="!chart_statistics.violations"
            style="height: calc(100% - 16px); width: 100%"
          >
            <ion-skeleton-text
              animated
              style="height: calc(100% - 20px); width: 100%"
            ></ion-skeleton-text>
          </div>
        </div>
      </ion-col>

      <ion-col size="12" size-lg="8" class="h50 float-lg-top">
        <div class="wrapper ion-padding" *ngIf="isTicketCountLoaded">
          <h5 class="ion-no-margin ion-margin-bottom">Recent Tickets</h5>
          <div id="ticketTable" class="table-responsive">
            <table
              datatable
              [dtOptions]="dtOptions"
              class="table table-hover table-striped table-bordered"
              style="width: 100%"
            >
              <thead>
                <tr class="text-center">
                  <th>Ticket No.</th>
                  <th>Violator</th>
                  <th>Violation/s</th>
                  <th>Date & Time</th>
                </tr>
              </thead>
              <tbody *ngIf="rows.length">
                <tr *ngFor="let row of rows">
                  <td>{{ row.number }}</td>
                  <td>
                    {{ row.violator.last_name }}, {{ row.violator.first_name }},
                    {{ row.violator.middle_name }}
                  </td>
                  <td>
                    <span *ngFor="let violation of row.violations"
                      >{{ violation+", " }}</span
                    >
                  </td>
                  <td>{{ row.apprehension_datetime }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <ion-skeleton-text
            *ngIf="!rows"
            animated
            style="width: 100%; height: 100%"
          ></ion-skeleton-text>
        </div>
        <div *ngIf="!isTicketCountLoaded" class="wrapper ion-padding">
          <ion-skeleton-text
            animated
            style="width: 100%; height: 100%"
          ></ion-skeleton-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
